body
{
   border-width: 0 !important;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
.wb-theme-header
{
   background-color: #5B6977;
   background-image: none;
   border: 1px solid #4B5662;
   border-radius: 0px;
   color: #EBEBEB;
   --background-color: rgba(91,105,119,1.00);
   --border-color: #4B5662;
   --border-width: 1px;
   --color: #EBEBEB;
}
.wb-theme-content
{
   background-color: #0F2537;
   background-image: none;
   border: 1px solid #4B5662;
   border-radius: 0px;
   color: #EBEBEB;
   --background-color: rgba(15,37,55,1.00);
   --border-color: #4B5662;
   --border-width: 1px;
   --color: #EBEBEB;
   --icon-color: #DF6919;
   --colorize: invert(54%) sepia(58%) saturate(4098%) hue-rotate(355deg) brightness(93%) contrast(87%);
}
.wb-theme-button, .wb-theme-static
{
   background-color: #DF6919;
   background-image: none;
   border: 1px solid #DF6919;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(223,105,25,1.00);
   --border-color: #DF6919;
   --border-width: 1px;
   --color: #FFFFFF;
}
.wb-theme-button:hover
{
   background-color: #BE5915;
   background-image: none;
   border: 1px solid #B25414;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(190,89,21,1.00);
   --border-color: #B25414;
   --border-width: 1px;
   --color: #FFFFFF;
}
.wb-theme-button.active, .wb-theme-button:active, .active > .wb-theme-button
{
   background-color: #B25414;
   background-image: none;
   border: 1px solid #A74F13;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(178,84,20,1.00);
   --border-color: #A74F13;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .wb-theme-header
{
   background-color: #5B6977;
   background-image: none;
   border: 1px solid #737F8B;
   border-radius: 0px;
   color: #CED4DA;
   --background-color: rgba(91,105,119,1.00);
   --border-color: #737F8B;
   --border-width: 1px;
   --color: #CED4DA;
}
.darktheme .wb-theme-content
{
   background-color: #212529;
   background-image: none;
   border: 1px solid #737F8B;
   border-radius: 0px;
   color: #CED4DA;
   --background-color: rgba(33,37,41,1.00);
   --border-color: #737F8B;
   --border-width: 1px;
   --color: #CED4DA;
   --icon-color: #DF6919;
   --colorize: invert(43%) sepia(86%) saturate(849%) hue-rotate(353deg) brightness(93%) contrast(88%);
}
.darktheme .wb-theme-button, .darktheme .wb-theme-static
{
   background-color: #DF6919;
   background-image: none;
   border: 1px solid #DF6919;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(223,105,25,1.00);
   --border-color: #DF6919;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .wb-theme-button:hover
{
   background-color: #BE5915;
   background-image: none;
   border: 1px solid #B25414;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(190,89,21,1.00);
   --border-color: #B25414;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .wb-theme-button.active, .darktheme .wb-theme-button:active, .active > .wb-theme-button
{
   background-color: #B25414;
   background-image: none;
   border: 1px solid #A74F13;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(178,84,20,1.00);
   --border-color: #A74F13;
   --border-width: 1px;
   --color: #FFFFFF;
}
#wb_menu14LayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url('images/waves (5).jpg');
   background-repeat: repeat;
   background-position: center center;
   background-size: cover;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#menu14LayoutGrid
{
   box-sizing: border-box;
   padding: 50px 15px 100px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1170px;
}
#menu14LayoutGrid > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#menu14LayoutGrid > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#menu14LayoutGrid > .row > .col-1
{
   float: left;
}
#menu14LayoutGrid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: left;
}
#menu14LayoutGrid:before,
#menu14LayoutGrid:after,
#menu14LayoutGrid .row:before,
#menu14LayoutGrid .row:after
{
   display: table;
   content: " ";
}
#menu14LayoutGrid:after,
#menu14LayoutGrid .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#menu14LayoutGrid > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#menu14LayoutGrid-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   border-radius: 0px;
   background-color: #000000;
   opacity: 0.49;
}
.menu14Menu .nav
{
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   font-style: normal;
   color: #FFFFFF;
   text-align: left;
   text-transform: none;
}
#menu14Menu, .menu14Menu .nav, .menu14Menu *
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1;
   list-style: none;
}
.menu14Menu .nav:before,
.menu14Menu .nav:after 
{
   content: " ";
   display: table;
}
.menu14Menu .nav:after 
{
   clear: both;
}
.menu14Menu .nav a 
{
   text-decoration: none;
}
.menu14Menu .nav ul
{
   margin-top: 0;
   margin-bottom: 0;
}
.menu14Menu .nav ul ul
{
   margin-bottom: 0;
}
.menu14Menu .container 
{
   margin-right: auto;
   margin-left: auto;
   padding: 0;
}
.menu14Menu .container:before,
.menu14Menu .container:after 
{
   content: " ";
   display: table;
}
.menu14Menu .container:after 
{
   clear: both;
}
.menu14Menu .collapse 
{
   display: none;
}
.menu14Menu .collapse.show 
{
   display: block;
}
.menu14Menu .collapsing 
{
   position: relative;
   height: 0;
   overflow: hidden;
   transition: height .35s ease;
}
.menu14Menu .arrow, .menu14Menu .arrow-right
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-top: 4px solid #000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
.menu14Menu .dropdown 
{
   position: relative;
}
.menu14Menu .dropdown-toggle:focus 
{
   outline: 0;
}
.menu14Menu .dropdown-menu 
{
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   list-style: none;
   font-size: 19px;
   background-color: rgba(0,0,0,0.40);
   background-image: none;
   border: 1px solid rgba(255,255,255,1.00);
   border-radius: 6px;
   background-clip: padding-box;
}
.menu14Menu .dropdown-menu .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #FFFFFF;
}
.menu14Menu .dropdown-menu > li > a
{
   display: block;
   padding: 3px 20px 3px 20px;
   clear: both;
   line-height: 1.428571429;
   color: #FFFFFF;
   text-transform: none;
   white-space: nowrap;
}
.menu14Menu .dropdown-menu > li > a:hover,
.menu14Menu .dropdown-menu > li > a:focus 
{
   text-decoration: none;
   color: #FFFFFF;
   background-color: #EDEDED;
   background-image: none;
}
.menu14Menu .dropdown-menu > li > a.active,
.menu14Menu .dropdown-menu > li > a.active:hover,
.menu14Menu .dropdown-menu > li > a.active:focus
{
   color: #FFFFFF;
   background-color: #EDEDED;
   background-image: none;
   text-decoration: none;
   outline: 0;
}
.menu14Menu .show > .dropdown-menu
{
   display: block;
}
.menu14Menu .show > a
{
   outline: 0;
}
.menu14Menu .dropdown-header
{
   display: block;
   padding: 3px 20px;
   line-height: 1.428571429;
   color: #aeaeae;
}
.menu14Menu .dropdown-backdrop
{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   z-index: 990;
}
.menu14Menu .dropdown.show .dropdown-menu
{
   animation-name: menu14Menu-animation;
   animation-duration: 500ms;
   animation-iteration-count: 1;
   animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
   animation-fill-mode: forwards;
}
@keyframes menu14Menu-animation
{
   0%
   {
      opacity: 0;
      transform: translateY(-10px);
   }
   100%
   {
      opacity: 1;
      transform: translateY(0);
   }
}
.menu14Menu .nav > li 
{
   position: relative;
   display: block;
}
.menu14Menu .nav > li > a
{
   position: relative;
   display: block;
   padding: 15px 15px 15px 15px;
}
.menu14Menu .nav .show > a,
.menu14Menu .nav .show > a:hover,
.menu14Menu .nav .show > a:focus
{
    border-color: #343A40;
}
.menu14Menu .nav .nav-divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #FFFFFF;
}
.menu14Menu .nav .arrow
{
   border-top-color: #343A40;
   border-bottom-color: #343A40;
}
.menu14Menu
{
   position: relative;
}
.menu14Menu:before,
.menu14Menu:after
{
   content: " ";
   display: table;
}
.menu14Menu:after
{
   clear: both;
}
.menu14Menu .navbar-header:before,
.menu14Menu .navbar-header:after
{
   content: " ";
   display: table;
}
.menu14Menu .navbar-header:after
{
   clear: both;
}
.menu14Menu-navbar-collapse 
{
   overflow-x: visible;
   -webkit-overflow-scrolling: touch;
}
.menu14Menu-navbar-collapse:before,
.menu14Menu-navbar-collapse:after
{
   content: " ";
   display: table;
}
.menu14Menu-navbar-collapse:after
{
   clear: both;
}
.menu14Menu-navbar-collapse.show
{
   overflow-y: auto;
}
.menu14Menu .navbar-toggle 
{
   position: relative;
   float: right;
   width: 52px;
   height: 52px;
   padding: 15px 15px 15px 15px;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 6px;
}
.menu14Menu .navbar-toggle .line
{
   display: block;
   width: 22px;
   height: 4px;
   border-radius: 0px;
   transition: all 500ms linear;
}
.menu14Menu .navbar-toggle .line
{
   margin: 4px auto;
}
.menu14Menu .navbar-toggle  .line:first-child
{
   margin-top: 0px !important;
}
.menu14Menu .navbar-nav
{
   margin: 6px -15px;
}
.menu14Menu .navbar-nav > li > .dropdown-menu
{
   margin-top: 0;
}
.menu14Menu .navbar-nav > li > a
{
   color: #FFFFFF;
}
.menu14Menu .navbar-nav > li > a:hover,
.menu14Menu .navbar-nav > li > a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #FFFFFF;
   text-decoration: none;
}
.menu14Menu .navbar-nav > li > a.active,
.menu14Menu .navbar-nav > li > a.active:hover,
.menu14Menu .navbar-nav > li > a.active:focus
{
   color: #FFFFFF;
   background-color: #EDEDED;
   background-image: none;
}
.menu14Menu .navbar-toggle
{
   border: 1px solid transparent;
}
.menu14Menu .navbar-toggle:hover,
.menu14Menu .navbar-toggle:focus
{
   background-color: transparent;
}
.menu14Menu .navbar-toggle .line
{
   background-color: #FFFFFF;
}
.menu14Menu-navbar-collapse
{
   border-color: rgba(255,255,255,1.00);
}
.menu14Menu .navbar-nav > .dropdown > a:hover .arrow,
.menu14Menu .navbar-nav > .dropdown > a:focus .arrow
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.menu14Menu .navbar-nav > .show > a,
.menu14Menu .navbar-nav > .show > a:hover,
.menu14Menu .navbar-nav > .show > a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #FFFFFF;
}
.menu14Menu .navbar-nav > .show > a .arrow,
.menu14Menu .navbar-nav > .show > a:hover .arrow,
.menu14Menu .navbar-nav > .show > a:focus .arrow
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.menu14Menu .navbar-nav > .dropdown > a .arrow
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.menu14Menu .navbar-link
{
   color: #FFFFFF;
}
.menu14Menu .navbar-link:hover
{
   color: #FFFFFF;
}
.menu14Menu .navbar-header
{
   color: #FFFFFF;
}
@media (min-width: 480px) 
{
.menu14Menu .navbar-right .dropdown-menu
{
   right: 0;
   left: auto;
}
.menu14Menu .navbar-header
{
   float: left;
}
.menu14Menu-navbar-collapse
{
   width: auto;
   border-top: 0;
   box-shadow: none;
}
.menu14Menu-navbar-collapse.collapse
{
   display: block!important;
   height: auto!important;
   padding-bottom: 0;
   overflow: visible!important;
}
.menu14Menu-navbar-collapse.show
{
   overflow-y: auto;
}
.menu14Menu .navbar-toggle
{
   display: none;
}
.menu14Menu .navbar-nav
{
   float: right;
   margin: 0;
}
.menu14Menu .navbar-nav > li
{
   float: left;
}
.menu14Menu .container > .navbar-header,
.menu14Menu .container > .menu14Menu-navbar-collapse
{
   margin-right: 0;
   margin-left: 0;
}
.menu14Menu .navbar-nav > .dropdown > a:hover .arrow,
.menu14Menu .navbar-nav > .dropdown > a:focus .arrow
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
}
@media (max-width: 480px) 
{
.menu14Menu 
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(255,255,255,0.00);
}
.menu14Menu .navbar-nav
{
   margin: 0;
   background-color: rgba(0,0,0,0.40);
   background-image: none;
}
.menu14Menu .navbar-nav .show .dropdown-menu
{
   position: static !important;
   transform: translate3d(0px, 0px, 0px) !important;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   box-shadow: none;
}
.menu14Menu .navbar-nav .show .dropdown-menu > li > a,
.menu14Menu .navbar-nav .show .dropdown-menu .dropdown-header
{
   padding: 5px 15px 5px 15px;
}
.menu14Menu .navbar-nav .show .dropdown-menu > li > a
{
   line-height: 20px;
}
}
@media (min-width: 480px) 
{
.menu14Menu 
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(255,255,255,0.00);
   border-radius: 6px;
}
.menu14Menu .navbar-nav > li > a
{
   color: #FFFFFF;
}
.menu14Menu .navbar-nav > li > a:hover,
.menu14Menu .navbar-nav > li > a:focus
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
}
.menu14Menu .navbar-nav > li > a.active,
.menu14Menu .navbar-nav > li > a.active:hover,
.menu14Menu .navbar-nav > li > a.active:focus
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
}
.menu14Menu .navbar-nav > .show > a,
.menu14Menu .navbar-nav > .show > a:hover,
.menu14Menu .navbar-nav > .show > a:focus
{
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
}
.menu14Menu .navbar-nav > .dropdown > a:hover .arrow
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.menu14Menu .navbar-nav > .dropdown > a .arrow
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.menu14Menu .navbar-nav > li > a.active > .arrow,
.menu14Menu .navbar-nav > li > a.active:hover > .arrow,
.menu14Menu .navbar-nav > li > a.active:focus > .arrow
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.menu14Menu .navbar-nav > .show > a .arrow,
.menu14Menu .navbar-nav > .show > a:hover .arrow,
.menu14Menu .navbar-nav > .show > a:focus .arrow
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.menu14Menu .navbar-link
{
   color: #FFFFFF;
}
.menu14Menu .navbar-link:hover 
{
   color: #fff;
}
}
.menu14Menu .navbar-nav > li:first-child > a
{
   border-top-left-radius: 6px;
   border-bottom-left-radius: 6px;
}
.menu14Menu .dropdown-menu > li:last-child > a
{
   border-bottom-left-radius: 6px;
   border-bottom-right-radius: 6px;
}
#menu14Menu-logo
{
   float: left;
}
#menu14Menu-logo img
{
   border-width: 0;
   height: auto;
   max-width: 100%;
}
#menu14Menu i
{
   font-size: 16px;
   position: relative;
   left: 0;
   top: 0;
   margin-right: 4px;
   width: 16px;
}
#wb_menu14Menu
{
   z-index: 1111 !important;
}
#wb_menu14Carousel
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
   margin: 0;
}
#wb_menu14Carousel
{
   box-sizing: border-box;
   width: 100%;
   height: 359px;
}
#menu14Carousel
{
   position: relative;
   margin: 0;
;
   height: 100%;
   box-sizing: border-box;
}
#menu14Carousel .carousel-inner
{
   overflow: hidden;
   width: 100%;
   height: 100%;
   position: relative;
}
.carousel.pointer-event
{
   -ms-touch-action: pan-y;
   touch-action: pan-y;
}
#menu14Carousel .carousel-inner::after
{
   display: block;
   clear: both;
   content: "";
}
#menu14Carousel .carousel-inner > .carousel-item
{
   display: none;
   position: relative;
   float: left;
   width: 100%;
   margin-right: -100%;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   transition: transform 500ms ease-in-out;
   height: 100%;
   text-align: center;
}
#menu14Carousel .carousel-item-next:not(.carousel-item-start), #menu14Carousel .active.carousel-item-end
{
   transform: translateX(100%);
}
#menu14Carousel .carousel-item-prev:not(.carousel-item-end), #menu14Carousel .active.carousel-item-start
{
   transform: translateX(-100%);
}
#menu14Carousel .carousel-item-inner
{
   padding: 0;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   height: 100%;
   box-sizing: border-box;
}
#menu14Carousel .carousel-inner > .carousel-item > img, #menu14Carousel .carousel-inner > .carousel-item > a > img
{
   display: block;
   line-height: 1;
}
#menu14Carousel .carousel-inner > .active, #menu14Carousel .carousel-inner > .carousel-item-next, #menu14Carousel .carousel-inner > .carousel-item-prev
{
   display: block;
}
#menu14Carousel .carousel-inner > .carousel-item-next, #menu14Carousel .carousel-inner > .carousel-item-prev
{
   position: absolute;
   top: 0;
   width: 100%;
}
#menu14Carousel .carousel-indicators
{
   list-style: none;
   bottom: 0;
   padding: 0;
   margin: 0;
   position: absolute;
   margin-left: -36px;
   left: 50%;
   vertical-align: middle;
   z-index: 999;
}
#menu14Carousel .carousel-indicators li
{
   display: block;
   float: left;
   margin: 12px 12px 12px 12px;
   width: 11px;
   height: 11px;
   cursor: pointer;
   text-indent: -999px;
   border-radius: 50%;
   background-color: transparent;
   border: 1px solid rgba(255,255,255,1.00);
}
#menu14Carousel .carousel-indicators .active
{
   background-color: rgba(255,255,255,1.00);
}
#menu14Carousel .frame
{
   width: 940px;
   display: inline-block;
   float: left;
   height: 359px;
}
#wb_menu14Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: center;
}
#menu14Heading1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 48px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#wb_menu14Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: center;
}
#menu14Heading2
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 48px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#wb_media3LayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   border: none !important;
   box-sizing: border-box;
   margin: 0;
}
#media3LayoutGrid
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 100px 0 100px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#media3LayoutGrid > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#media3LayoutGrid > .col-1
{
   flex: 0 0 auto;
}
#media3LayoutGrid > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
@media (max-width: 768px)
{
#media3LayoutGrid > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_media3Heading
{
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0 0 15px 0 ;
   padding: 0;
   text-align: center;
}
#media3Heading
{
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 35px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#media3Heading
{
   height: 100%;
   margin: 0;
   width: 100%;
   background: transparent !important;
   border: none !important;
}
#wb_team7LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   border: none !important;
   box-sizing: border-box;
   margin: 0;
}
#team7LayoutGrid1
{
   box-sizing: border-box;
   padding: 50px 0 50px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#team7LayoutGrid1 > .row
{
   margin-right: 0;
   margin-left: 0;
}
#team7LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#team7LayoutGrid1 > .row > .col-1
{
   float: left;
}
#team7LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#team7LayoutGrid1:before,
#team7LayoutGrid1:after,
#team7LayoutGrid1 .row:before,
#team7LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#team7LayoutGrid1:after,
#team7LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#team7LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_team7LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#team7LayoutGrid2
{
   box-sizing: border-box;
   padding: 25px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#team7LayoutGrid2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#team7LayoutGrid2 > .row > .col-1, #team7LayoutGrid2 > .row > .col-2, #team7LayoutGrid2 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#team7LayoutGrid2 > .row > .col-1, #team7LayoutGrid2 > .row > .col-2, #team7LayoutGrid2 > .row > .col-3
{
   float: left;
}
#team7LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#team7LayoutGrid2 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#team7LayoutGrid2 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#team7LayoutGrid2:before,
#team7LayoutGrid2:after,
#team7LayoutGrid2 .row:before,
#team7LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#team7LayoutGrid2:after,
#team7LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#team7LayoutGrid2 > .row > .col-1, #team7LayoutGrid2 > .row > .col-2, #team7LayoutGrid2 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#team7RollOverLayer1
{
   position: relative;
   display: block;
   width: 100%;
   height: 406px;
   max-width: 800px;
   margin-left: auto;
   margin-right: auto;
   right: 0;
   text-align: center;
   margin: 0 0 20px 0 ;
   perspective: 1200px;
}
#team7RollOverLayer1 .default
{
   z-index: 1;
}
#team7RollOverLayer1 .default
{
   position: absolute;
   left: 0;
   top: 0;
   display: block;
   width: 100%;
   height: 100%;
}
#team7RollOverLayer1 .hover
{
   z-index: 0;
   position: absolute;
   width: 100%;
   height: 100%;
}
#team7RollOverLayer1 .default, #team7RollOverLayer1 .hover
{
   font-size: 0px;
   text-align: left;
   padding: 0;
}
#team7RollOverLayer1 .default > div, #team7RollOverLayer1 .hover > div
{
   height: 100% !important;
}
@keyframes team7RollOverLayer1-animation-in
{
   0%   { transform: translateZ(-1000px) rotateY(90deg); opacity: 0.2; }
   100% { }
}
@keyframes team7RollOverLayer1-animation-out
{
   0%   { }
   100% { transform: translateZ(-1000px) rotateY(-90deg); opacity: 0.2; }
}
#team7RollOverLayer1 .default.animate
{
   animation: team7RollOverLayer1-animation-out 250ms linear both;
   transform-origin: 50% 50%;
}
#team7RollOverLayer1 .default, #team7RollOverLayer1 .hover
{
   backface-visibility: hidden;
   transform: translate3d(0, 0, 0);
   transform-style: preserve-3d;
}
#team7RollOverLayer1 .hover.animate
{
   animation: team7RollOverLayer1-animation-in 250ms linear 250ms both;
   transform-origin: 50% 50%;
}
#team7RollOverLayer1 .reverse
{
   animation-direction: reverse !important;
}
#team7RollOverLayer1 .hover.animate.reverse
{
   animation-delay: 0ms !important;
}
#team7RollOverLayer1 .default.animate.reverse
{
   animation-delay: 250ms !important;
}
#team7RollOverLayer1 .default
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #DDDDDD;
   border-radius: 0px;
   box-sizing: border-box;
}
#team7RollOverLayer1 .hover
{
   background-color: transparent;
   background-image: none;
   border: 0px #DDDDDD solid;
   border-radius: 0px;
   box-sizing: border-box;
}
#wb_team7Card1Back
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   text-align: center;
   border: none !important;
}
#team7Card1Back-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#team7Card1Back-card-item0
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   background: transparent;
   border: none;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#team7Card1Back-card-item1
{
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   border-top: 1px var(--border-color) solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#team7Card1Back-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   background: transparent;
   border: none;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#wb_team7Card1Front
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   text-align: center;
   border: none !important;
}
#team7Card1Front-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#team7Card1Front-card-item0
{
   display: inline-block;
   height: 135px;
   box-sizing: border-box;
   margin: 0 0 -60px 0 ;
   width: 100%;
   padding: 60px 0 60px 0;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: center;
}
#team7Card1Front-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#team7Card1Front-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   max-width: 120px;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   height: 120px;
}
#team7Card1Front-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   padding: 0;
   background: transparent;
   border: none;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#team7Card1Front-card-item3
{
   box-sizing: border-box;
   margin: 10px 20px 20px 20px;
   padding: 0;
   background: transparent;
   border: none;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#team7RollOverLayer2
{
   position: relative;
   display: block;
   width: 100%;
   height: 404px;
   max-width: 800px;
   margin-left: auto;
   margin-right: auto;
   right: 0;
   text-align: center;
   margin: 0 0 20px 0 ;
   perspective: 1200px;
}
#team7RollOverLayer2 .default
{
   z-index: 1;
}
#team7RollOverLayer2 .default
{
   position: absolute;
   left: 0;
   top: 0;
   display: block;
   width: 100%;
   height: 100%;
}
#team7RollOverLayer2 .hover
{
   z-index: 0;
   position: absolute;
   width: 100%;
   height: 100%;
}
#team7RollOverLayer2 .default, #team7RollOverLayer2 .hover
{
   font-size: 0px;
   text-align: left;
   padding: 0;
}
#team7RollOverLayer2 .default > div, #team7RollOverLayer2 .hover > div
{
   height: 100% !important;
}
@keyframes team7RollOverLayer2-animation-in
{
   0%   { transform: translateZ(-1000px) rotateY(90deg); opacity: 0.2; }
   100% { }
}
@keyframes team7RollOverLayer2-animation-out
{
   0%   { }
   100% { transform: translateZ(-1000px) rotateY(-90deg); opacity: 0.2; }
}
#team7RollOverLayer2 .default.animate
{
   animation: team7RollOverLayer2-animation-out 250ms linear both;
   transform-origin: 50% 50%;
}
#team7RollOverLayer2 .default, #team7RollOverLayer2 .hover
{
   backface-visibility: hidden;
   transform: translate3d(0, 0, 0);
   transform-style: preserve-3d;
}
#team7RollOverLayer2 .hover.animate
{
   animation: team7RollOverLayer2-animation-in 250ms linear 250ms both;
   transform-origin: 50% 50%;
}
#team7RollOverLayer2 .reverse
{
   animation-direction: reverse !important;
}
#team7RollOverLayer2 .hover.animate.reverse
{
   animation-delay: 0ms !important;
}
#team7RollOverLayer2 .default.animate.reverse
{
   animation-delay: 250ms !important;
}
#team7RollOverLayer2 .default
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #DDDDDD;
   border-radius: 0px;
   box-sizing: border-box;
}
#team7RollOverLayer2 .hover
{
   background-color: transparent;
   background-image: none;
   border: 0px #DDDDDD solid;
   border-radius: 0px;
   box-sizing: border-box;
}
#wb_team7Card2Back
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   text-align: center;
   border: none !important;
}
#team7Card2Back-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#team7Card2Back-card-item0
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   background: transparent;
   border: none;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#team7Card2Back-card-item1
{
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   border-top: 1px var(--border-color) solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#team7Card2Back-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   background: transparent;
   border: none;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#wb_team7Card2Front
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   text-align: center;
   border: none !important;
}
#team7Card2Front-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#team7Card2Front-card-item0
{
   display: inline-block;
   height: 135px;
   box-sizing: border-box;
   margin: 0 0 -60px 0 ;
   width: 100%;
   padding: 60px 0 60px 0;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: center;
}
#team7Card2Front-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#team7Card2Front-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   max-width: 120px;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   height: 120px;
}
#team7Card2Front-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   padding: 0;
   background: transparent;
   border: none;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#team7Card2Front-card-item3
{
   box-sizing: border-box;
   margin: 10px 20px 20px 20px;
   padding: 0;
   background: transparent;
   border: none;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#team7RollOverLayer3
{
   position: relative;
   display: block;
   width: 100%;
   height: 402px;
   max-width: 800px;
   margin-left: auto;
   margin-right: auto;
   right: 0;
   text-align: center;
   margin: 0 0 20px 0 ;
   perspective: 1200px;
}
#team7RollOverLayer3 .default
{
   z-index: 1;
}
#team7RollOverLayer3 .default
{
   position: absolute;
   left: 0;
   top: 0;
   display: block;
   width: 100%;
   height: 100%;
}
#team7RollOverLayer3 .hover
{
   z-index: 0;
   position: absolute;
   width: 100%;
   height: 100%;
}
#team7RollOverLayer3 .default, #team7RollOverLayer3 .hover
{
   font-size: 0px;
   text-align: left;
   padding: 0;
}
#team7RollOverLayer3 .default > div, #team7RollOverLayer3 .hover > div
{
   height: 100% !important;
}
@keyframes team7RollOverLayer3-animation-in
{
   0%   { transform: translateZ(-1000px) rotateY(90deg); opacity: 0.2; }
   100% { }
}
@keyframes team7RollOverLayer3-animation-out
{
   0%   { }
   100% { transform: translateZ(-1000px) rotateY(-90deg); opacity: 0.2; }
}
#team7RollOverLayer3 .default.animate
{
   animation: team7RollOverLayer3-animation-out 250ms linear both;
   transform-origin: 50% 50%;
}
#team7RollOverLayer3 .default, #team7RollOverLayer3 .hover
{
   backface-visibility: hidden;
   transform: translate3d(0, 0, 0);
   transform-style: preserve-3d;
}
#team7RollOverLayer3 .hover.animate
{
   animation: team7RollOverLayer3-animation-in 250ms linear 250ms both;
   transform-origin: 50% 50%;
}
#team7RollOverLayer3 .reverse
{
   animation-direction: reverse !important;
}
#team7RollOverLayer3 .hover.animate.reverse
{
   animation-delay: 0ms !important;
}
#team7RollOverLayer3 .default.animate.reverse
{
   animation-delay: 250ms !important;
}
#team7RollOverLayer3 .default
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #DDDDDD;
   border-radius: 0px;
   box-sizing: border-box;
}
#team7RollOverLayer3 .hover
{
   background-color: transparent;
   background-image: none;
   border: 0px #DDDDDD solid;
   border-radius: 0px;
   box-sizing: border-box;
}
#wb_team7Card3Back
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   text-align: center;
   border: none !important;
}
#team7Card3Back-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#team7Card3Back-card-item0
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   background: transparent;
   border: none;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#team7Card3Back-card-item1
{
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   border-top: 1px var(--border-color) solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#team7Card3Back-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   background: transparent;
   border: none;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#wb_team7Card3Front
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   text-align: center;
   border: none !important;
}
#team7Card3Front-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#team7Card3Front-card-item0
{
   display: inline-block;
   height: 135px;
   box-sizing: border-box;
   margin: 0 0 -60px 0 ;
   width: 100%;
   padding: 60px 0 60px 0;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: center;
}
#team7Card3Front-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#team7Card3Front-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   max-width: 120px;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   height: 120px;
}
#team7Card3Front-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   padding: 0;
   background: transparent;
   border: none;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#team7Card3Front-card-item3
{
   box-sizing: border-box;
   margin: 10px 20px 20px 20px;
   padding: 0;
   background: transparent;
   border: none;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
